
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{ 
    margin: 15px 15px;
    padding-top: 20rem;
    background-color: rgb(255, 241, 185);
}
.container {
    margin-top: -20rem;
    height: 670px;
    background-color: #50a3c2;
    font-family: 'Chakra Petch', sans-serif;
}

.navbar h2 {
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.2);
}

.navbar h5 {
    padding-bottom: 2.5px;
    display: in;
    color: rgb(254, 241, 96);
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.2);
}

.main {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 15rem;
}

.main h2{
    font-size: 12px;
    background-color: #08000044;
    color: rgb(28, 17, 4);
    overflow: hidden;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 3px;
    padding: 4px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.main i{
    display: block;
    padding-top: 1rem ;
    padding-bottom: 0.2rem;
    font-size: 60px;
}


.main button{
    padding: 5px 15px 5px 15px;
    justify-content: baseline;
    margin: 8px;
    background-color: transparent;
    border: solid #000 2px;
    border-radius: 8%;
    background-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    transition: 0.2s;
    color: rgb(255, 255, 255);
}
button:active {
    transform: translate(0, 0.5rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.95);
  }

.main button:hover{
    background-color: rgb(0, 0, 0);
}

/*Media queries*/

@media (max-width: 991px){

    html{
        font-size: 100%;
    }

    .container {
        height: 670px;
    }

}

@media (max-width: 768px){
    html {
        font-size: 22px;
    }

    .container {
       margin-top: -20rem;
       height: 670px;
    }

    .navbar {
   
    }

    .main {
       margin-top: -5rem;
    }

    .main i {
        font-size: 2rem;
    }

    .main button {
        font-size: 10px;
    }

    .main h2 {
        font-size: 11px;
    }
    
    @media (max-width: 450px){

        html {
            position: static;
            text-overflow: clip;
        }
    
    
